/*
+------------------------------------------------------
| RESETS
+------------------------------------------------------
*/
li, ul {list-style-type: none;padding:0;margin:0;}
ol, ul {list-style: none;padding:0;margin:0;}
/*
+------------------------------------------------------
| LAYOUT AND STRUCTURE
+------------------------------------------------------
*/

body{font-family: Arial,Helvetica,sans-serif;}
.category-information h1{text-transform:uppercase;letter-spacing: 2px;}

/*
+------------------------------------------------------
| PRODUCTS
+------------------------------------------------------
*/
.productlisting{margin-bottom:40px;}
.productlisting__item{cursor:pointer;margin-bottom:35px;}
.productlisting__item h2{margin: 10px 0 0px 0;text-transform: uppercase;font-size: 14px;letter-spacing: 2px;}
.productlisting__item h3{color:#959595;font-size:13px;font-weight: 400;margin: 0;}
.productlisting__item .productprices{font-weight:600;margin: 5px 0;}
.productlisting__item .productsigning{font-weight:600;font-size:12px;}
.productlisting__item .toolbar {min-height: 20px}
    /*
    +------------------------------------------------------
    | PRODUCT OVERLAY
    +------------------------------------------------------
    */
    .productlisting__item.active .productlisting__item__overlay{position: absolute;background: #FFFFFF;z-index: 10;top:0;height:87%}
    .productlisting__item__overlay{height:0px;overflow:hidden;}
    .productlisting__item__overlay .product-sizes{text-align:center}
    .btn-size{height: 35px;min-width: 35px;color:#7D7D7D;font-weight: 400;text-align: center;cursor: pointer;background: #FFF;border:1px solid transparent;padding: 7px 5px;}
    .btn-size:hover{border:1px solid #7D7D7D;}
    .productlisting__item .thumbnail{text-align: center;}
    /*
    +------------------------------------------------------
    | ALTERNATE PRODUCT STYLES
    +------------------------------------------------------
    */
    .style-item{width: 73px!important;}
    .style-item a:hover img{border:1px #7D7D7D solid;}
    .style-item img{margin:0 auto;border: 1px solid transparent;}
        /*
        +------------------------------------------------------
        | ALTERNATE PRODUCT STYLES > SLIDER OVERRIDES
        +------------------------------------------------------
        */
        .slide-nav{text-align: center;color:#A6A6A6;}
        .slide-nav.slick-disabled{color:#E1E1E1;}
        .slick-slider {margin-bottom: 0px;}
/*
+------------------------------------------------------
| GLOBALS
+------------------------------------------------------
*/
.icons{height:12px;width:12px;margin:0 auto;}
.aligncenter{text-align:center;}
h1,h3{color:#000;}
h2 a, h2 a:hover{color:#000;}
/*
+------------------------------------------------------
| MEDIA QUERIES
+------------------------------------------------------
*/
@media (max-width: 480px) {
    .productlisting__item{margin-bottom:25px;}
    .productlisting__item .thumbnail img{display:block;margin:0 auto;}
}
@media (max-width:768px) {
    .productlisting__item__overlay{width:100%;}
}


